 <div class="col-md-4 mx-auto mt-4">
    <div class="card-block login-form">
        <div class="card-header display-6 text-light">
            Conectar servidor OPC
        </div>
        <div class="card-body ">
             <form action="/resources/opc/" method="POST" >
             <div class="mb-3"> 
                <input type="text" id="name" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
             </div>
             <div class="mb-3"> 
                <input type="text" id="url" name="url" class="form-control"placeholder="Url" value="{{url}}">
             </div>
             <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
             </form>
        </div>
    </div>
</div>
