<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">

        <div class="col-md-12">
            <img class=" logo rounded mx-auto d-block" src="/img/logo.png" alt="">
        </div>

        <h1 class="display-5 fw-bold">Bienvenidos a SecurOS Integration Server</h1>
        
        <p class="col-md-10 fs-4">
            Este wizard le ayudara a configurar el super usuario por primera vez para que pueda empezar a utilizar la aplicacion:
        </p>
        <a href="/firsttime"><button class="btn btn-primary btn-lg" type="button">Iniciar</button></a> 
    </div>
</div>