<div class="col-md-4 mx-auto">
    <div class="card-block login-form">
        <div class="card-header display-6 text-light">
            <h3>Cambiar contraseña<a href="http://"></a></h3>
        </div>
        <div class="card-body">
            <form action="/users/change_password/{{User._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="mb-3"> 
                    <input type="password" id="password" class="form-control disable" name="password" placeholder="Nueva contraseña" >
                </div>
                <div class="mb-3"> 
                    <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirmar contraseña">
                 </div>
                 
                <div class="d-grid gap-2">
                 <button class="btn btn-primary" type="submit">Cambiar</button>
                </div>
            </form>
        </div>
    </div>
</div>